.donationForm button.donate {
    width: 250px;
    padding: 6px 0;
    height: inherit;
    /* margin-top: 40px; */
}

.donationForm input, .donationForm textarea, .donationForm select, .donationForm .helptext {
    width: 80%;
    max-width: none;
    margin-top: 0;
}

.donationForm select {
    height: 40px;
}

.donationForm label {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 17px;
}

.donationForm .helptext {
    margin-left: 5px;
    font-size: 14px;
}

.donationSubmit p {
    margin-top: 40px;
    margin-bottom: 0;
}

.donationSubmit p.error {
    margin-top: 0;
    color: red;
    font-weight: bold;
}

@media (max-width: 767px) {
    .donationForm input, .donationForm textarea, .donationForm select, .donationForm p.helptext {
        width: 100%;
    }

    .StripeElement {
        max-width: none;
        width: 100%;
    }

    .donationSubmit {
        text-align: center;
    }
}
