body {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #FDFFFC;
    color: #4C4C4C;
}

.ReactModal__Body--open {
    overflow: hidden;
}

form {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

form p.helptext {
    color: #6d6c6c;
    font-weight: 400;
    letter-spacing: 0.025em;
}

input, textarea, select {
    border: 0;
    display: block;
    margin: 10px 0 20px 0;
    max-width: 500px;
    padding: 10px 14px;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border-radius: 4px;
    background: white;
}

input.error {
    border: 1px solid red;
    color: red;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
    transition: all 150ms ease;
}

input::placeholder, textarea::placeholder {
    color: #868686;
    font-weight: 400;
}

button.donate {
    white-space: nowrap;
    border: 0;
    outline: 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: #C179B9;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    margin: 10px 0;
}

button.donate:hover {
    color: #fff;
    cursor: pointer;
    background-color: #CC91C5;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

button.donate:disabled, button.donate[disabled] {
    background-color: #9E6498;
    cursor: not-allowed;
}

label {
    font-weight: bold;
    letter-spacing: 0.025em;
    width: 100%;
}

.thankYouModal {
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    border: 1px solid #ccc;
    background-color: #ffffff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 40px;
}

.thankYouOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
    .thankYouModal {
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
    }
}

.thankYouModalBody {
    text-align: center;
}

.thankYouModalBody h2 {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.thankYouModalBody p {
    font-size: 18px;
    line-height: 30px;
}

.thankYouModalBody button.close {
    top: 0;
    right: 0;
    position: absolute;
    padding: 20px;
}
